{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center">
        <h1>{{ user.username }}</h1>
        {% if user.email %}
            Email: {{ user.email }}<br>
        {% endif %}
        <img src="{{ user.profile.user_photo.url }}"
             class="rounded-circle"
             style="width: 200px; height: 200px"
             alt="User-Profile-Picture"><br>
        <a class='btn btn-outline-info' href="{% url 'users:edit_user_profile' user.id %}">Edit Profile</a>
    </div>
    <h1>
        <b><u>Dog's:</u></b>
    </h1>
    {% for dog in user_dogs %}
        <h3>
            {{ forloop.counter }}. {{ dog }}
        </h3>
    {% empty %}
    <h2>Currently, You have not added any dogs.</h2>
    {% endfor %}
{% endblock content %}