{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card mb-6 mx-auto" style="width: 20rem">
    <h2 class="card-header">
        Please Sign In
    </h2>
    <div class="card-body">
        <form action="{% url 'users:login' %}" style="width: 200px" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-outline-primary" name="submit">
                Log In
            </button>
        {% endbuttons %}
        </form>
    </div>
</div>


{% endblock content %}