{% extends 'base.html' %}

{% block content %}

<h1>Dogs</h1>
   {% for dog in shareable_dogs %}
       <h2>{{ dog }}</h2>
       {% for entry in shareable_entries %}
           {% if entry.dog_name == dog %}
               {% if entry.dog_photo %}
                   <img src="{{ entry.dog_photo.url }}" style="width: 200px;height:200px" alt="Dog-Photo">
               {% endif %}
               <ul>
                    {{ entry | linebreaksbr }}
               </ul>
           {% endif %}
       {% endfor %}
   {% endfor %}

{% endblock content %}