<!DOCTYPE html>
<html lang="en">

<body style="background-color:#C2DFFF;">
    <a href="{% url 'test_dog_app:index' %}">Home Page</a>
    <a href="{% url 'test_dog_app:authors_dog' %}">Author's Dog</a>
    <a href="{% url 'test_dog_app:user_entries' %}">Your Entries</a>
    <a href="{% url 'test_dog_app:all_entries' %}">Community Page</a>

{% if user.is_authenticated %}
    Hello, {{ user }}!
    <a href="{% url 'users:logout' %}">Log Out</a>

{% else %}
    <a href="{% url 'users:login' %}">Log In</a>
    <a href="{% url 'users:register' %}">Register</a>

{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>


