{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'test_dog_app:community_profile' %}"
          method="post">
    {% csrf_token %}
        {% if dog_name %}
            {% if entries %}
                {% for dog in dog_name %}
                    <div class="card bg-light" style="width: 50rem;">
                        <div class="card-body">
                            <h2 class="card-title">
                                {{ dog }}
                            </h2>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Your Community Entries:
                            </h6><br>
                            {% for entry in entries %}
                                {% if entry.dog_name == dog %}
                                    {% if entry.dog_photo %}
                                        <img src="{{ entry.dog_photo.url }}"
                                             style="width: 200px;height: 200px"
                                             alt="Dog-Photo"><br/>
                                    {% endif %}
                                        {{ forloop.counter }}. {{ entry | linebreaksbr }}
                                            <a class="btn btn-outline-info btn-sm"
                                               href="{% url 'test_dog_app:edit_dog_bio' entry.id %}">
                                                Edit
                                            </a><br/>
                                        <label class="btn btn-danger btn-sm">
                                            <input type="checkbox" name="entry" id='entry_id' value="{{ entry.id }}">
                                            Remove
                                        </label>
                                        <hr class="my-2">
                                {% endif %}
                            {% endfor %}
                            <button name="submit" class="btn btn-success">
                                Save Changes
                            </button>
                        </div>
                    </div><br/>
                {% endfor %}
            {% endif %}
        {% else %}
            <h2>There are currently no shared entries. Please consider sharing your wonderful entries
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal"
                        data-target="#share">
                  <span class="text-dark">
                      here
                  </span>
                </button>
            </h2>
            <div class="modal fade" id="share" tabindex="-1" role="dialog"
                 aria-labelledby="share" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="share">Share</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        {% for dog in all_user_dogs %}
                            <a class="tooltip-test" href="{% url 'test_dog_app:share_dog' dog.id %}">
                                {{ dog|title }}
                            </a><br/>
                        {% empty %}
                            <h3>
                                Sorry, you do have have any pets added yet. Please add one
                                <a class="text-success" href="{% url 'test_dog_app:add_dog_name' %}">
                                    here
                                </a>
                            </h3>
                        {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
    </form>
{% endblock content %}