{% extends 'base.html' %}
{% load crispy_forms_filters  %}

{% block content %}


<h2>
    <a href="{% url 'test_dog_app:user_private_entries' dogs.id %}">
        {{ dogs }}
    </a>
</h2>


<p>Edit Biography:</p>
<form action="{% url 'test_dog_app:edit_dog_bio' dog_entries.id %}" enctype="multipart/form-data" method="post">
    {# This id has to be the entry id because if it was the dog's id it will only change that entry  #}

    {% csrf_token %}
    {{ form | crispy }} <br/>

    <button class='btn btn-success' name="submit">Save Changes</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeEntry">
      Remove Entry
    </button>
    <div class="modal fade" id="removeEntry" tabindex="-1" role="dialog" aria-labelledby="removeEntry" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeEntry">Remove Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Would you like to remove this entry? This will NOT remove your pet.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{% url 'test_dog_app:remove_entry' dog_entries.id %}">
                    Remove
                </a>
          </div>
        </div>
      </div>
    </div>
</form>

{% endblock content %}
