{% extends 'base.html' %}

{% block content %}

<div style="text-align: center">
    Dog_Name
</div>
    <form action="{% url 'test_dog_app:share_dog' dog_to_share.id %}" method="post">
    {% csrf_token %}
    {% for entry in dog_info %}
        {{ entry }} <input name="entry" type="checkbox" value="{{ entry.id }}"/><br>
    {% empty %}
        <h2>No Entries have been added for {{ entry.dog_name }}</h2>
    {% endfor %}
        <button name="submit">Submit</button>
</form>
{% endblock content %}