{% extends 'base.html' %}

{% block content %}

<div style="text-align: center">
    {{ dog_to_share }}
</div>
    <form action="{% url 'test_dog_app:share_dog' dog_to_share.id %}" method="post">
    {% csrf_token %}
    {% for entry in dog_info %}
        <p>
            {{ entry }}
            <label>
                Share <input name="entry" type="checkbox" value="{{ entry.id }}"/>
            </label><br>
        </p>

    {% empty %}
        {% if all_dog_entries %}
            <h2>All of your entries have been shared for {{ entry.dog_name }}. Please visit your community profile to
                manage your shared entry :)</h2>
        {% else %}
            <h2>You current have no entries. Please enter an entry for {{ entry.dog_name }} and come back!</h2>
        {% endif %}
    {% endfor %}
        <button name="submit">Share</button>
</form>
{% endblock content %}