{% extends 'base.html' %}

{% block content %}

<div style="text-align: center">
    <h2>
        <a href="{% url 'test_dog_app:user_private_entries' dog_to_share.id %}">
            {{ dog_to_share }}
        </a>
    </h2>
</div>
    <form action="{% url 'test_dog_app:share_dog' dog_to_share.id %}" method="post">
    {% csrf_token %}
    {% for entry in dog_info %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input name="entry" type="checkbox" value="{{ entry.id }}" aria-label="Share"/>
            </div>
        </div>
        {% if entry.dog_photo %}
            <div class="card" style="width: 18rem;">
                <img src="{{ entry.dog_photo.url }}" class="card-img-top" alt="dog-photo">
                <hr class="my-4">
                <div class="card-body">
                    <p class="card-text">
                        {{ entry }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {{ entry }}
                </div>
            </div>
        {% endif %}
    </div>
    {% empty %}
        {% if all_dog_entries %}
            <h2>All of your entries have been shared for {{ entry.dog_name }}. Please visit your community profile to
                manage your shared entry :)</h2>
        {% else %}
            <h2>You current have no entries. Please enter an entry for {{ entry.dog_name }} and come back!</h2>
        {% endif %}
    {% endfor %}
      <div class="float-left">
        {% if dog_info %}
            <button class='btn btn-warning' name="submit">
                Share
            </button>
        {% endif %}
    </div>
    <div class="float-right">
        {% if dog_info.has_previous %}
            <a href="{% url 'test_dog_app:share_dog' dog_to_share.id %}?page={{ dog_info.previous_page_number }}"
                       class="btn btn-primary">
                        Previous Page
            </a>
        {% endif %}
        {% if dog_info.has_next %}
            <a href="{% url 'test_dog_app:share_dog' dog_to_share.id %}?page={{ dog_info.next_page_number }}"
                       class="btn btn-primary">
                        Next Page
            </a>
        {% endif %}
    </div>

</form>
{% endblock content %}