{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
    <h1>
        {{user.username }}'s {{ dog }}
    </h1>
</div>
    <h2>Entries</h2>
    {% for entry in dog_entries %}
        <p>
            <li>
                {{ entry.bio_entry | linebreaksbr }}
                {{ entry.date_entry }}
                <a href="{% url 'test_dog_app:edit_dog_bio' dog.id %}">
                    Edit Entry
                </a>
            </li>
        </p>
    {% empty %}
        <h2>No entries currently added. Please add one using the button below!</h2>
    {% endfor %}

    <a href="{% url 'test_dog_app:write_about_dog' dog.id %}">
    Add Entry Here!
    </a>

{% endblock content %}