{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
    <h1>
        {{user.username }}'s {{ user_dog }}
    </h1>
</div>
    <h2>Entries</h2>
    <li>
        {% for entry in user_dog_entries %}
            {{ entry }} <br>
        {% empty %}
            <h2>No entries currently added. Please add one using the button below!</h2>
        {% endfor %}
    </li>
    <a href="{% url 'test_dog_app:write_about_dog' user.id %}">
    Add Entry Here!
    </a>

{% endblock content %}