{% extends 'base.html' %}

{% block content %}
    <h2>
        {% for dog in dogs %}
            <a href="{% url 'test_dog_app:user_private_entries' dog.id %}">
               {{ forloop.counter }}. {{ dog }} &nbsp
                <button type="button" class="btn btn-outline-info btn-sm">
                    <a class='text-dark' href="{% url 'test_dog_app:edit_dog_name' dog.id %}">Edit</a>
                </button> <br/>
            </a>
        {% empty %}
            <h2>There are currently no pets that have been added.</h2>
        {% endfor %}
    </h2>
    <h2>
        <a class='text-light active btn-primary btn-sm' aria-pressed="true"
           href="{% url 'test_dog_app:add_dog_name' %}">
            Add your pet's name here!
        </a>
    </h2>
{% endblock content %}