{% extends 'base.html' %}

{% block content %}

<div class="jumbotron mx-auto">
    <h1 class="display4" style="text-align:center">
        500 Error oooooo god
    </h1>
    <hr class="my-4"/>
    <h4 style="text-align: center">
        Soooo ahhh this is a BIG problem ah... I will probably find this? I hope but for now just yeah... Return
        to the home page because I have no clue how these system error even exist. I am a dev in progress and I have
        NO clue what this is but um heres another red button just DONT click it and return back to the home page
        :D<br/>
        <a class='btn btn-danger btn-lg' href="{% url 'test_dog_app:index' %}">
            <span class="text-light">
                :)
            </span>
        </a>
    </h4>
</div>

{% endblock %}