{% extends 'base.html' %}

{% block content %}

<div class="jumbotron mx-auto">
    <h1 class="display4" style="text-align:center">
        500 Error oooooo god
    </h1>
    <hr class="my-4"/>
    <h4 style="text-align: center">
        OOKAY so there are a few things that could be happening. This requested url for a specific pet/entry does
        not exist or there's an internal system error that I have to checkout. Sorry for this issue. I will provide you
        with a red button that you should NOT press but feel free to do so :D<br/>
        <a class='btn btn-danger btn-lg' href="{% url 'test_dog_app:index' %}">
            <span class="text-light">
                :)
            </span>
        </a>
    </h4>
</div>

{% endblock %}